.write{
    padding-top: 50px;
}
.writeImg{
    margin-left: 150px;
    width: 80vw;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
}
.writeForm{
    position: relative;
}
.writeFormGroup{
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.writeIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: rgb(245, 172, 1);
}
.writeInput{
    font-size: 30px;
    border: none;
    padding: 10px;
    width: 70vw;
}
.writeInput:focus{
    outline: none;
}
.writeText{
    font-size: 20px;
    resize: none;
}
.writeSubmit{
    position: absolute;
    top: 20px;
    right: 150px;
    background-color: green;
    padding: 10px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}


@media (max-width:750px) {
    .writeImg{
        margin: 10px;
        width: 90vw;
    }
    .writeFormGroup{
        margin-left: 15px;
    }
    .writeSubmit{
        right: 50px;
    }
}